.staminaButton{
    cursor: pointer;
    color: #000;
    background-color:#4CAF50;
    border-radius: 15pt;
    box-shadow: 0 40px #999;
    display: inline-block;
    width: 100pt;
    height: 100pt;
    text-align: center;
    vertical-align: middle;
    line-height: 100pt;
    font-size: 60pt;
}

.pressAnimation{
    animation: 0.4s ease-in-out click_animation normal;
}

@keyframes click_animation {
    0% {transform: translateY(0px); box-shadow: 0 40px #999} 
    50% {transform: translateY(40px); box-shadow: 0 0px #999}
    100% {transform: translateY(0px); box-shadow: 0 40px #999}
}